<div class="comment card mb-3">
  <div class="card-body">
    <% unless comment.archived? %>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h6 class="card-title"><strong>Commenter:</strong> <%= comment.commenter %></h6>
        </div>
        <% if current_user && comment.commenter == current_user.email %>
          <div>
            <%= button_to "Destroy comment", [comment.article, comment], method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
          </div>
        <% end %>
      </div>
      <p class="card-text mt-2"><strong>Comment:</strong> <%= comment.body %></p>
    <% end %>
  </div>
</div>
